<div class="mat-create">
  <mat-card class="center-card">
    <mat-card-title>Novo Produto</mat-card-title>
    <form class="form-container">
      <mat-form-field class="full-width">
        <input
          matInput
          placeholder="Nome"
          [(ngModel)]="product.name"
          name="name"
          required
        />
      </mat-form-field>
      <mat-form-field class="full-width">
        <input
          matInput
          placeholder="Autor"
          [(ngModel)]="product.author"
          name="author"
          required
        />
      </mat-form-field>
      <mat-form-field class="full-width">
        <input
          matInput
          placeholder="Avaliação"
          [(ngModel)]="product.rating"
          name="rating"
          required
        />
      </mat-form-field>
      <mat-form-field class="full-width">
        <input
          matInput
          placeholder="Preço (R$)"
          [(ngModel)]="product.price"
          name="price"
          required
        />
      </mat-form-field>

      <div class="file">
        <input
          type="file"
          name="file_name"
          (change)="getFile($event)"
        />
      </div>

      <div class="button-container">
        <button
          class="salvar"
          mat-raised-button
          (click)="createProduct()"
          color="primary"
        >
          Salvar
        </button>
        <button class="cancelar" mat-raised-button (click)="cancel()">
          Cancelar
        </button>
      </div>
    </form>
  </mat-card>
</div>
