<div class="mat-delete">
  <mat-card class="center-card">
    <mat-card-title>Excluir Produto</mat-card-title>
    <form class="form-container">
      <mat-form-field class="full-width">
        <input
          matInput
          placeholder="Name"
          [(ngModel)]="product.name"
          name="name"
        />
      </mat-form-field>
      <mat-form-field class="full-width">
        <input
          matInput
          placeholder="Author"
          [(ngModel)]="product.author"
          name="author"
        />
      </mat-form-field>
      <mat-form-field class="full-width">
        <input
          matInput
          placeholder="Rating"
          [(ngModel)]="product.rating"
          name="rating"
        />
      </mat-form-field>
      <mat-form-field class="full-width">
        <input
          matInput
          placeholder="Price"
          [(ngModel)]="product.price"
          name="price"
        />
      </mat-form-field>
      <mat-form-field class="full-width">
        <input 
          matInput
          placeholder="FileName"
          [(ngModel)]="product.file_name"
          name="file_name"
        />
      </mat-form-field>
    </form>
    <div class="button-container">
      <button
        class="delete"
        mat-raised-button
        color="warn"
        (click)="deleteProduct()"
      >
        Excluir
      </button>

      <button mat-raised-button class="cancel"  (click)="cancel()">Cancelar</button>
    </div>
  </mat-card>
</div>
