<div
  id="template-mo-jassa-hero-carousel"
  class="carousel slide"
  data-bs-ride="carousel"
>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="container">
        <div class="row p-5">
          <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
            <img
              class="img-fluid"
              src="assets/image/51E2055ZGUL._AC_UF1000,1000_QL80_.jpg"
              alt=""
            />
          </div>
          <div class="col-lg-6 mb-0 d-flex align-items-center">
            <div class="text-align-left align-self-center">
              <h1 class="h1">Código limpo</h1>
              <h3 class="h2">Habilidades práticas do Agile software</h3>
              <p>
                Mesmo um código ruim pode funcionar. Mas se ele não for limpo,
                pode acabar com uma empresa de desenvolvimento. Perdem-se a cada
                ano horas incontáveis e recursos importantes devido a um código
                mal escrito. Mas não precisa ser assim.O renomado especialista
                em software, Robert C. Martin, apresenta um paradigma
                revolucionário com Código limpo: Habilidades Práticas do Agile
                Software.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="container">
        <div class="row p-5">
          <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
            <img
              class="img-fluid"
              src="assets/image/Clean+Architecture.jpg"
              alt=""
            />
          </div>
          <div class="col-lg-6 mb-0 d-flex align-items-center">
            <div class="text-align-left">
              <h1 class="h1">Arquitetura limpa</h1>
              <h3 class="h2">
                O guia do artesão para estrutura e design de software
              </h3>
              <p>
                As regras universais de arquitetura de software aumentam
                dramaticamente a produtividade dos desenvolvedores ao longo da
                vida dos sistemas de software. Agora, aproveitando o sucesso dos
                seus best-sellers "Código Limpo" e "O Codificador Limpo", o
                lendário artesão de software Robert C. Martin (“Uncle Bob”) vai
                revelar essas regras e ajudar o leitor a aplicá-las.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="container">
        <div class="row p-5">
          <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
            <img
              class="img-fluid"
              src="assets/image/91HOMOicVEL._SL1500_.jpg"
              alt=""
            />
          </div>
          <div class="col-lg-6 mb-0 d-flex align-items-center">
            <div class="text-align-left">
              <h1 class="h1">Use a cabeça!</h1>
              <h3 class="h2">Redes de computadores</h3>
              <p>
                Frustrado de ler livros sobre networking cheios de siglas que
                colocam seu cérebro em modo de espera? Use a Cabeça! Redes de
                Computadores é seu parceiro na sua jornada passo a passo de
                administrador de rede junior até guru, não apenas com respostas,
                mas também com as explicações para suportá-las.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a
    class="carousel-control-prev text-decoration-none w-auto ps-3"
    href="#template-mo-jassa-hero-carousel"
    role="button"
    data-bs-slide="prev"
  >
    <i class="fas fa-chevron-left"></i>
  </a>
  <a
    class="carousel-control-next text-decoration-none w-auto pe-3"
    href="#template-mo-jassa-hero-carousel"
    role="button"
    data-bs-slide="next"
  >
    <i class="fas fa-chevron-right"></i>
  </a>
</div>
