<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <form
        class="form-container"
        [formGroup]="productForm"
        (ngSubmit)="updateProduct()"
      >
        <div class="mb-3">
          <label for="name" class="form-label">Nome:</label>
          <input
            type="text"
            class="form-control"
            id="name"
            formControlName="name"
            required
          />
        </div>

        <div class="mb-3">
          <label for="author" class="form-label">Author:</label>
          <input
            type="text"
            class="form-control"
            id="author"
            formControlName="author"
            required
          />
        </div>

        <div class="mb-3">
          <label for="rating" class="form-label">Rating:</label>
          <input
            type="number"
            class="form-control"
            id="rating"
            formControlName="rating"
            required
          />
        </div>

        <div class="mb-3">
          <label for="price" class="form-label">Price:</label>
          <input
            type="number"
            class="form-control"
            id="price"
            formControlName="price"
            required
          />
        </div>

        <div class="mb-3">
          <label for="fileName" class="form-label">Arquivo:</label>
          <input
            type="file"
            class="form-control"
            id="fileName"
            formControlName="fileName"
            (change)="getFile($event)"
            required
          />
        </div>

        <div class="text-center mt-4">
          <button
            type="button"
            class="btn btn-primary update"
            (click)="updateProduct()"
          >
            Atualizar
          </button>
          <button
            type="button"
            class="btn btn-secondary cancel"
            (click)="cancel()"
          >
            Cancelar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
